.Button {
  border: none;
  background-color: var(--color-button);
  color: var(--color-text);
  padding: 6px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.25s;
}

.Button:hover {
  background-color: var(--color-button-hover);
}

.Button:focus {
  box-shadow: 0 0 8px var(--color-button-focus);
  outline: none;
}
